*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
body{
       background: linear-gradient(184deg, rgb(240, 187, 187) 25%, rgb(243, 185, 147) 54%, rgb(255, 216, 196) 100%);
}